


<div>
  <div class="media col-md-3">
    <figure class="pull-left">
        <img class="media-object img-rounded img-responsive"  src="http://placehold.it/350x250" alt="placehold.it/350x250" >
    </figure>
</div>
<div class="col-md-9">
    <h4>{{employee.name}}</h4>
    <p>{{employee.designation}}</p>
    <p class="list-group-item-text"><i class="fa fa-phone" aria-hidden="true"></i> {{employee.phone}}</p>
    <p class="list-group-item-text"><i class="fa fa-envelope" aria-hidden="true"></i> {{employee.email}}</p>
    <p class="list-group-item-text">Expertise: {{employee.Expertise}}</p>
</div>
</div>